@charset "UTF-8";

:root {
    --cor1: #380B61;
    --cor2: #F0F8FF;
    --cor3: #59429d;
    --cor4: #E0E0F8;
    --cor5: #ccbbff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: var(--cor3);
    margin: 0px;
}

main {
    background-color: white;

    max-width: 470px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 1px;
    padding: 20px;
    border-radius: 10px;
}

main div {
    margin-top: 5px;
    margin-bottom: 5px;
}

#titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor1);
    text-align: center;
    padding: 10px;
}

#subtitulo {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--roxinha);
    text-align: center;
    padding: 7px;
}

fieldset{
    border: 0;
}

input, select, textarea, button {
    border-radius: 5px;
    font-size: 1em;
    color: var(--cor3);
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo label {
    margin-bottom: 0.2em;
    color: var(--cor3);
    display: block;
}

fieldset.grupo .campo {
    float: left;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid var(--cor3);
    display: block;
    margin-right: 10px;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: var(--cor4);
}

#botao {
    font-size: 1.2em;
    background: var(--cor3);
    border: 0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#botao:hover {
    background: var(--cor5);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#check{
    display: inline-block;
}

#check label {
    margin-right: 10px;
}

footer {
    bottom: 0px;
    text-align: center;
    padding: 7px;
    background-color: black;
    
}

footer p {
    color: white;
}

footer a {
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover{
    text-decoration: underline;
}